@font-face {
  font-family: 'UTM FacebookB K&T';
  src: url('../fonts/UTM FacebookB K&T.eot');
  src: url('../fonts/UTM FacebookB K&T.woff2') format('woff2'),
       url('../fonts/UTM FacebookB K&T.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM BryantLG';
  src: url('../fonts/UTM BryantLG.eot');
  src: url('../fonts/UTM BryantLG.woff2') format('woff2'),
       url('../fonts/UTM BryantLG.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

