/* header */
* {
  text-decoration: none;
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.page-header {
  background-color: #fff;
}
.logo-header {
  float: left;
  padding: 10px 0px 0px 0px;
}
.header-right {
  float: right;
}
.clear::after {
  content: "";
  clear: both;
  display: block;
}
.hotline {
  float: left;
  position: absolute;
  right: 35%;
}
.phone {
  float: right;
}
.menu-item {
  float: left;
  margin-left: 50px;
}
.hotline img {
  float: left;
  padding: 5px 5px 0px 0px;
}
.hotline .hotline-contact{
  float: left;
}
.color {
  padding: 0 5px;
  color: #ffa800;
  font-weight: bold;
}
.phone img {
  float: left;
  padding: 5px 5px 0px 0px;
}
.phone-contact {
  float: left;
}
.menu-list {
  padding: 10px 0px 10px 0px;
  text-transform: uppercase;
}
.menu-item a {
  font-weight: bold;
  font-family: "MyriadPro Regular", sans-serif;
}
.header-contact {
  position: relative;
  padding: 10px 0px 10px 0px;
}
.customer {
  margin: 0 5px;
}
.customer-phone {
  margin: 0px 0px 0px 5px;
}

/* main */

/* banner */
.banner {
  position: relative;
  text-transform: uppercase;
}
.banner-content {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 25%;
}
.banner-title {
  color: #fff;
  font-size: 52px;
  font-family: "UTM FacebookB K&T", sans-serif;}
.banner-preview {
  color: #fff;
  font-size: 18px;
  margin: 30px 0px 45px 0px;
  font-family: "UTM BryantLG", sans-serif;
  font-weight: bold;
}
.banner-content a {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5%;
  padding: 10px 25px;
  font-size: 14px;
  margin: 0px 5px;
  font-weight: bold;
  font-family: "UTM BryantLG",sans-serif;
} 
.banner-content a:hover {
  background-color: #0ec0ee;
  border: 2px solid #0ec0ee;
}

/* destination */
.destination {
  position: relative;
  margin-top: -140px;
}
.viewmore {
  text-transform: uppercase;
  color: #fff; 
  padding: 40px 0px; 
}
.view-title {
  display: inline-block;
  font-size: 24px;
  font-family: "MyriadPro Regular";
  font-weight: bold;
  margin-right: 20px;
}
.viewmore a {
  background-color: #ffa800;
  padding: 13px 15px 9px 15px;
  color: #fff;  
  border-radius: 5px;
  font-size: 14px;
  font-family: "MyriadPro Regular", sans-serif;
  position: relative;
  bottom: 2px;
}
.destination-item {
  float: left;
  width: 25%;
  padding: 0px 10px;
}
.destination-list {
  margin: 0 -10px;
}
.destination-bot {
  background-color: #fff;
  padding: 20px 0px 15px 15px;
  border-radius: 0px 0px 5px 5px;
}
.destination-box {
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #888888;
}
.destination-box img {
  border-radius: 5px 5px 0 0;
}
.destination-country {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.destination-price {
  font-weight: bold;
  color: #0ec0ee;
  font-size: 18px;
}
.price {
  font-size: 14px;
}


/* search */
.search {
  background-image: url(../images/background-search.png);
  background-size: cover;
  padding: 30px 0 50px;
  margin-top: 30px;
}
.logo-main {
  float: left;
  padding: 5% 0px 0px 0px;
}
.search-group {
  float: right;
}
.tab-links-item {
  float: left;
  padding: 15px 25px;
  margin: 0 0 -1px;
}
.tab-links {
  text-transform: uppercase;
}
.search-title {
  font-family: "MyriadPro Regular", sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
}
.search-preview {
  font-size: 14px;
  color: #737373;
}
.links-border-tours {
  border: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
.search-group .tab-content .tab-content-item input {
  border-radius: 20px;
}
.search-group .tab-content-item input[name="location"] {
  width: 400px;
}
.search-group .tab-content-item input[name="length"],
.search-group .tab-content-item input[name="price"] {
  width: 145px;
}
.tab-content {
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
.tab-content-item .btn-search {
  position: relative;
  height: 40px;
  border-radius: 20px;
  background-color: #0ec0ee;
  border-color: #0ec0ee;
  color: #ffffff;
  padding: 0 35px;
  text-transform: none;
  margin-left: 10px;
}

/* tours */
.tours {
  padding: 30px 0 50px;
}
.tours-list {
  margin: 0 -10px;
}
.tours-item {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}
.tours-above {
  padding: 25px 25px 15px;
}
.tours-wrap {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #888888;
}
.tours-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
}
.tours-preview {
  color: #969696;
}
.tours-box img {
  float: left;
  padding-left: 15px;
}
.tours-side {
  float: left;
  margin: 0 15px 8px 15px;
}
.tours-price {
  float: right;
  padding: 25px 10px 0px 0px;
  font-weight: bold; 
}
.tours-top {
  position: relative;
}
.tours-box {
  position: absolute;
  bottom: 0px;
  color: #fff;
  width: 100%;
}
.tours-country a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.tours-side img {
  padding: 0 0 5px 0 !important;
}
.tours-orther {
  padding: 15px 10px;
  text-align: right;
}
.orther {
  display: inline-block;
  font-size: 15px;
}

/* support */
.support {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  background-attachment: fixed;
  padding: 30px 0 50px;
}
.support-title {
  font-weight: bold;
}
.support-item {
  float: left;
  width: 25%;
  border-right: 1px solid #5c5652;
}
.support-border {
  border-right: 0px;
}
.support-list {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 35px; 
  width: 80%;
  border-radius: 5px;
  margin-top: 30px;
}
.support-center {
  display: flex;
  justify-content: center;
}
.support-contact img {
  margin: 0 9px;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.support-contact a:hover img {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
               transform: rotateY(-180deg);

}

/* activity */
.title-top {
  color: #000;
}
.activity {
  margin: 5px 0px 50px 0px;
}
.activity-list {
  margin: 0 -10px; 
  color: #fff;
}
.activity-item {
  float: left;
  width: 25%;
  padding: 0 10px;
  border-radius: 5px;
}
.activity-top {
  position: relative;
}
.activity-top img {
  border-radius: 5px 5px 0 0;
}
.activity-title {
  position: absolute;
  bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  left: 15px;
  color: #fff;
}
.activity-night {
  float: left;
}
.activity-day {
  float: right;
}
.activity-times {
  background-color: #373940;
  border-radius: 0 0 5px 5px;
  padding: 15px;
}

/* footer */
.page-footer {
  background-color: #fff;
  padding-top: 25px;
}
.logo-footer {
  float: left;
  width: 25%;
}
.information {
  float: left;
  width: 20%;
}
.social {
  float: left;
  width: 20%;
}
.email {
  float: left;
  width: 35%;
  padding-top: 30px;
}
.footer-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #282828;
  margin-bottom: 5px;
}
.social-list {
  margin-bottom: 5px;
}
.social-list img {
  margin-right: 5px;
}
.email-form {
  position: relative;
}
.email-form button {
  width: 88px;
  height: 52px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #0ec0ee;
  border-radius: 5px;
  text-align: center;
}
.email-form input[type="search"] {
  height: 52px;
  font-style: italic;
  border-radius: 5px;
}
.email-title {
  margin-bottom: 20px;
}
.footer-bellow {
  padding: 15px 0;
}
.copyright {
  float: left;
}
.designby {
  float: right;
}
.designby a {
  color: #30b549
}