/* header */
* {
  text-decoration: none;
  list-style: none;
}
.container {
  width: 80%;
  margin:  0 10%;
}
.logo-header {
  float: left;
}
.header-right {
  float: right;
}
.clear::after {
  content: "";
  clear: both;
  display: block;
}
.hotline {
  float: left;
}
.phone {
  float: right;
}
.menu-item {
  float: left;
}
.hotline img {
  float: left;
  padding: 15px 5px 0px 0px;
}
.hotline .hotline-contact{
  float: left;
}
.header-right {
  width: 70%;
}
.header-contact {
  width: 70%;
  padding: 5px 0px 5px 200px;
}
.phone img {
  float: left;
  padding: 15px 5px 0px 0px;
}
.phone-contact {
  float: left;
}
.menu-item {
  margin:  0px 30px 0px 0px;
}

/* main */
.banner {
  color: #fff;
  height: 500px;
  background-size: cover;
  text-align: center;
  padding-top: 25%;
}
/* destination */
.view-tour a {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5%;
  padding: 10px;
  width: 10%;
  display: inline-block;
}
.view-title {
  display: inline-block;
}
.viewmore a {
  background-color: #ffa800;
  padding: 5px;
  border-radius: 5%
}
.destination-item {
  float: left;
  width: 25%;
}
.destination-list {
  padding: 0px;
}
.destination-item a img {
  width: 100%;
}
/* search */
.logo-main {
  float: left;
  padding: 5% 0px 0px 0px;
}
.search-main {
  float: left;
}
.search-item {
  float: left;
}
/* tours */
.tours-list {
  padding: 0%;
}
.tours-item {
  float: left;
  width: 33%;
}
/* .tours-overseas img {
  width: 100%;;
} */
.tours-top {
  background-repeat: no-repeat;
  background-size: cover;
}
.tours-bot {
  background-repeat: no-repeat;
  background-size: cover;
}
/* .tours-top img {
  float: left;
}
.tours-side {
  float: left;
}
.tours-price {
  float: left;
} */
.orther {
  display: inline-block;
}

/* support */
.support-list {
  float: left;
  margin: 20px 48px 20px 120px;
}

/* activity */
.activity-list {
  padding: 0%
}
.activity-item {
  float: left;
  width: 25%;
}
.activity-night {
  float: left;
}
.activity-day {
  float: right;
}

/* footer */
.logo-footer {
  float: left;
  width: 20%;
}
.information {
  float: left;
  width: 20%;
}
.information-item {
  padding: 0%;
}
.social {
  float: left;
  width: 20%;
}
.social-item {
  padding: 0%
}
.email {
  float: left;
}
.copyright {
  float: left;
}
.designby {
  float: right;
}